.map-admin {
  width:60em;
  height:50em;
  border:0.1em solid #dddddd
}

.map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.angular-leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.address > li > div > a {
    color: #777777;
}
.address > li > div > a span{
   margin-left: 10px;
}
.address > li > div > a:hover {
    background-color: transparent;
    color: #333333;
}
.address > li:hover {
	background-color:#dddddd;
	cursor:pointer;
}

.navbar {
  z-index: 10;
}