<div ng-include="'components/navbar/navbar.html'"></div>

 <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>
    </div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
    	
		<div class="alert {{classFeedback}}" ng-if="msg">
          <p>{{msg}}</p>
        </div>

		<form name="formQuiz" ng-submit="addQuiz(quiz)" novalidate>

			<div class="form-group" ng-class="{'has-error': formQuiz.pregunta.$invalid && submitted }">
				<label for="">Pregunta <span>(Obligatorio)</span></label>
				<input type="text" name="pregunta" class="form-control" ng-model="quiz.pregunta" placeholder="Nueva pregunta" ng-value="{{quiz.pregunta}}" required  >
				<p class="help-block" ng-show="formQuiz.pregunta.$error.required && submitted">
            		La pregunta es un campo obligatorio
          		</p>
			</div>
			
			<div class="form-group" ng-class="{'has-error': formQuiz.respuesta.$invalid && submitted }">
				<label for="">Respuesta <span>(Obligatorio)</span></label>
				<input type="text" name="respuesta" class="form-control" ng-model="quiz.respuesta" placeholder="Aquí la respuesta" ng-value="{{quiz.respuesta}}" required >
				<p class="help-block" ng-show="formQuiz.respuesta.$error.required && submitted">
            		La respuesta es un campo obligatorio
          		</p>
			</div>
			
			<div class="form-group" ng-class="{'has-error': formQuiz.tema.$invalid && submitted }">
				<label for="">Temática <span>(Obligatorio)</span></label>
				<select class="form-control" name="tema" ng-model="quiz.tema"  required >
				    <option value="">Selecciona la temática</option>
				    <option ng-repeat="tema in temas" value="{{tema}}">
				      {{tema}}
				    </option>
				</select>
				<p class="help-block" ng-show="formQuiz.respuesta.$error.required && submitted">
            		La temática es un campo obligatorio
          		</p>

			</div>

			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
 	</div>
</div>