<div ng-include="'components/navbar/navbar.html'"></div>

 <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Administración de preguntas</h1>
      </div>
    </div>

<div class="container">
  <ul class="list-group quizzes">
    <li class="list-group-item" ng-repeat="quiz in quizes" >

        <a href="/quizzes/{{quiz.quizId}}" title="Consultar" class="btn btn-xs btn-disabled pull-left" style="font-size:20px">#{{quiz.quizId}}</a>
        
        <label ng-dblclick="editQuiz(quiz)" ng-if="edit===undefined || (edit!==undefined && edit.quizId!=quiz.quizId)">
            {{quiz.pregunta}}<br>
            <span>{{quiz.respuesta}}</span></label>

          <form name="formQuiz" class="form-inline" ng-submit="addQuiz(quiz)" ng-if="edit!==undefined && edit.edit && edit.quizId==quiz.quizId" novalidate>  
            <div class="form-group">
              <input type="text" name="pregunta" class="form-control" ng-model="quiz.pregunta" placeholder="Aquí la pregunta" ng-value="quiz.pregunta" required  >
              <input type="text" name="respuesta" class="form-control" ng-model="quiz.respuesta" placeholder="Aquí la respuesta" ng-value="quiz.respuesta" required >
              <button type="submit" class="btn btn-primary">Guardar</button>
              {{errors}}
            </div>
          </form>       
        
        <a href="#" ng-click="delete(quiz)" title="Eliminar" ><span class="glyphicon glyphicon-remove pull-right"></span></a>
        <a href="#" ng-click="toggleComment(quiz.quizId)" ng-if="quiz.comments.length > 0" title="{{quiz.comments.length}} comentarios" ><span class="glyphicon glyphicon-comment pull-right"></span></a>

		<ul class="list-group comments hide" id="comments_{{quiz.quizId}}" ng-if="quiz.comments.length > 0">
	    <li class="list-group-item" ng-repeat="comment in quiz.comments" >
        
        <span class="muted">{{comment.createdAt | date:'yy/MM/yyyy'}}</span>
        
	    	  <strong ng-if="comment.site"><a href="{{comment.site}}">{{comment.nombre}}...</a></strong>
	        <strong ng-if="!comment.site">{{comment.nombre}}...</strong> 
	        {{comment.comentario}}
	        
	        <a href="#" ng-click="deleteComment(comment)" title="Eliminar" ><span class="glyphicon glyphicon-remove pull-right"></span></a>
			    <a href="#" ng-click="activeComment(comment)"  class="glyphicon glyphicon-chevron-down pull-right" title="Deshabilitar comentario" ng-if="comment.active"></a>
			    <a href="#" ng-click="activeComment(comment)" class="glyphicon glyphicon-ban-circle pull-right" title="Habilitar comentario" ng-if="!comment.active"></a>
          <hr>
	    </li>
	  </ul>

    </li>
  </ul>
</div>
<div class="add">
			<a href="/quizzes/add" class="btn btn-danger">Nueva pregunta</a>
		</div>
