<div ng-include="'components/navbar/navbar.html'"></div>

 <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Administración de preguntas</h1>
      </div>
    </div>

<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
  <ul class="list-group quizzes">
    <li class="list-group-item" ng-repeat="quiz in quizes" >

        <a href="/quizzes/{{quiz.quizId}}" title="Consultar" class="btn btn-xs btn-disabled pull-left" style="font-size:20px">#{{quiz.quizId}}</a>
        
        <label ng-dblclick="editQuiz(quiz)" ng-if="edit===undefined || (edit!==undefined && edit.quizId!=quiz.quizId)">
            {{quiz.pregunta}}<br>
            <span>{{quiz.respuesta}}</span></label>

          <form name="formQuiz" class="form-inline" ng-submit="saveEditQuiz(quiz)" ng-if="edit!==undefined && edit.edit && edit.quizId==quiz.quizId" novalidate>  
            <div class="form-group">
              <input type="text" name="pregunta" class="form-control" ng-model="quiz.pregunta" placeholder="Aquí la pregunta" ng-value="quiz.pregunta" required  >
              <input type="text" name="respuesta" class="form-control" ng-model="quiz.respuesta" placeholder="Aquí la respuesta" ng-value="quiz.respuesta" required >
              <button type="submit" class="btn btn-primary">Guardar</button>
              {{errors}}
            </div>
          </form>       
        
        <a href="#" ng-click="delete(quiz)" title="Eliminar" ><span class="glyphicon glyphicon-remove pull-right"></span></a>
        <a href="#" ng-click="toggleComment(quiz.quizId)" ng-if="quiz.comments.length > 0" title="{{quiz.comments.length}} comentarios" >
          <span class="pull-right" style="padding:0px;font-size:10px">{{quiz.comments.length}}</span>
          <span class="glyphicon glyphicon-comment pull-right"></span>
        </a>

		<ul class="list-group comments hide" id="comments_{{quiz.quizId}}" ng-if="quiz.comments.length > 0">
	    <li class="list-group-item" ng-repeat="comment in quiz.comments" >
        
        <span class="muted">{{comment.createdAt | date:'yy/MM/yyyy'}}</span>
        
	    	  <strong ng-if="comment.site"><a href="{{comment.site}}">{{comment.nombre}}...</a></strong>
	        <strong ng-if="!comment.site">{{comment.nombre}}...</strong> 
	        {{comment.comentario}}
	        
	        <a href="#" ng-click="deleteComment(comment, quiz)" title="Eliminar" ><span class="glyphicon glyphicon-remove pull-right"></span></a>
			    <a href="#" ng-click="activeComment(comment)"  class="glyphicon glyphicon-chevron-down pull-right" title="Deshabilitar comentario" ng-if="comment.active"></a>
			    <a href="#" ng-click="activeComment(comment)" class="glyphicon glyphicon-ban-circle pull-right" title="Habilitar comentario" ng-if="!comment.active"></a>
          <hr>
	    </li>
	  </ul>

    </li>
  </ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <ul class="list-group">
    <li class="list-group-item">
      <strong>Nueva pregunta</strong>
      <a href="#" ng-click="showAddForm()" ><span class="glyphicon glyphicon-plus pull-right"></span></a>
   
    <div id="add-quiz" class="hide">

        <form name="formQuiz" ng-submit="addQuiz(quiz)" novalidate>

          <div class="form-group" ng-class="{'has-error': formQuiz.pregunta.$invalid && submitted }">
            <input type="text" name="pregunta" class="form-control" ng-model="quiz.pregunta" placeholder="Pregunta" ng-value="quiz.pregunta" required  >
            <p class="help-block" ng-show="formQuiz.pregunta.$error.required && submitted">
                    La pregunta es un campo obligatorio
                  </p>
          </div>
          
          <div class="form-group" ng-class="{'has-error': formQuiz.respuesta.$invalid && submitted }">
            <input type="text" name="respuesta" class="form-control" ng-model="quiz.respuesta" placeholder="Respuesta" ng-value="quiz.respuesta" required >
            <p class="help-block" ng-show="formQuiz.respuesta.$error.required && submitted">
                    La respuesta es un campo obligatorio
                  </p>
          </div>
          
          <div class="form-group" ng-class="{'has-error': formQuiz.tema.$invalid && submitted }">
            <select class="form-control" name="tema" ng-model="quiz.tema" ng-value="quiz.tema"  required >
                <option value="">Selecciona la temática</option>
                <option ng-repeat="tema in temas" value="{{tema}}">
                  {{tema}}
                </option>
            </select>
            <p class="help-block" ng-show="formQuiz.respuesta.$error.required && submitted">
                    La temática es un campo obligatorio
                  </p>

          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    </li>
  </ul> 
  <ul class="list-group">
   <li class="list-group-item" ng-click="showStats()">
      <strong>Estadísticas</strong>
      <a href="#" ><span class="glyphicon glyphicon-plus pull-right"></span></a>
      <div id="stats-quiz" class="hide">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="stat in stats" >{{stat}} </li>
        </ul>
      </div>
    </li>
  </ul>   
</div>
