.tematica{
	font-size: 12px;
	color: gray;
	float:right;
}
.add{
	margin-top: 40px;
	text-align: center;
}
.comentario legend{
	font-size: 15px;
	margin-bottom: 5px;
}
.comentario p{
	font-size: 12px;
}
.add-comentario legend{
	font-size: 20px;
	margin-bottom: 5px;	
	border-style: none;
}
.add-comentario {
	width: 70%;
	background-color: #f8f8f8 !important;
	border:1px solid #e7e7e7;
	padding:15px;
	font-size: 12px;
}
.has-error label{
	color:#a94442;
}

.github{
	height: 18px;
	width: 18px;
}
.hide{
	display:none;
}


.quizzes > li > a, .comments > li > a, .quizzes > li > form > a, .showStats, .showAddForm {
    color: #777777;
}
.quizzes > li > a:hover, .comments > li > a:hover, .quizzes > li > form > a:hover, .showStats:hover, .showAddForm:hover {
    background-color: transparent;
    color: #333333;
}
.quizzes > li > a > span, .comments > li > a > span{
    padding:0 5px;
}
.comments  li, #stats-quiz li {
	border:0px !important;
}
.comments hr, #stats-quiz hr{
	margin:0px;
}
.muted{
	color:#999;
}