<div ng-include="'components/navbar/navbar.html'"></div>

 <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Pregunta #{{quiz.quizId}}<span>Prueba tus conocimientos</span></h1>
      </div>
    </div>

<div class="container">
  <div class="row">

    <div class="col-lg-12" ng-if="msg === undefined">

      <ul class="nav nav-stacked col-md-8 col-lg-6 col-sm-8" >
        <li>
            <form name="formQuiz" ng-submit="validateQuiz(formQuiz, quiz)" >
              <legend>{{quiz.pregunta}}<span class='tematica'>{{quiz.tema}}<span></legend>
            
              <div class="form-group form-inline">
              	<input type="text" class="form-control" placeholder="responde aquí" required ng-model="formQuiz.respuesta"> 
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>

            <div class="comentario" ng-repeat="comment in quiz.comments" ng-if="comment.active" id="comentario{{comment._id}}">
              <legend>
                <strong><a href="{{comment.site}}">{{comment.nombre}}</a></strong>...
              <span class="tematica">{{comment.createdAt | date:'yy/MM/yyyy'}}</span>
              </legend>
              <p>{{comment.comentario}}</p>
            </div>
            
            <div class="add-comentario" >
              <form name="formComment" ng-submit="addComment(formComment,quiz)" >
                <legend>Añadir un comentario</legend>                
            
                <div class="alert {{classFeedback}}" ng-if="msgComment !==undefined ">
                  <p>{{msgComment}}</p>
                  <ul>
                    <li ng-repeat="error in errors">{{error.message}}</li>
                  </ul>
                </div>

                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" ng-model="formComment.nombre"> 
                </div>
                <div class="form-group">
                  <label for="">Página web</label>
                  <input type="text" class="form-control" placeholder="Página web" ng-model="formComment.site">  
                </div>
                <div class="form-group">
                  <label for="">Comentario <span>(Obligatorio)</span></label>
                  <textarea ng-model="formComment.comentario" class="form-control" rows="3" maxlenght="250" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>

        </li>
      </ul>
    </div>
    <div class="col-lg-12" ng-if="msg !==undefined ">
    	<div class="alert {{classFeedback}}"><p><strong>{{respuesta}}</strong> {{msg}} </p></div>

  		<p class="navbar-text pull-right">
  			<a href="/quizes" class="navbar-link">Volver a la página inicial</a>
		  </p>
    </div>	
  </div>
</div>