<div ng-include="'components/navbar/navbar.html'"></div>

 <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Pregunta #{{quiz.quizId}}<span>Prueba tus conocimientos</span></h1>
      </div>
    </div>

<div class="container">
  <div class="row">

    <div class="col-lg-12">

      <ul class="nav nav-stacked col-md-8 col-lg-6 col-sm-8" >
        <li>
            
             <form name="formQuiz" ng-submit="validateQuiz(formQuiz, quiz)" >
              <legend>{{quiz.pregunta}}<span class='tematica'>{{quiz.tema}}<span></legend>

             <p class="input-group" ng-if="quizFB === undefined || quizFB.id!=quiz.quizId">
                <input type="text" class="form-control" placeholder="responde aquí" required ng-model="formQuiz.respuesta"> 
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">Contestar</button>
                </span>  
              </p>

              <div ng-if="quizFB !==undefined && !quizFB.ok && quizFB.id==quiz.quizId" class="alert alert-danger">
                <p><strong>{{quizFB.respuesta}}</strong> no es correcto! 
                   <a href="#" ng-click="repeatQuiz(formQuiz)" title="Intentar de nuevo" ng-if="!comment.active"><span class="glyphicon glyphicon-repeat pull-right"></span></a>
                </p>
                
              </div>
              <div ng-if="quizFB !==undefined && quizFB.ok && quizFB.id==quiz.quizId" class="alert alert-success">
                <p><strong>{{quizFB.respuesta}}</strong> es correcto </p>
              </div>

            </form>

            <div class="comentario" ng-repeat="comment in quiz.comments" ng-if="comment.active" id="comentario{{comment._id}}">
              <legend>
                <strong ng-if="comment.site"><a href="{{comment.site}}">{{comment.nombre}}...</a></strong>
                <strong ng-if="!comment.site">{{comment.nombre}}...</strong> 
                <span class="tematica">{{comment.createdAt | date:'yy/MM/yyyy'}}</span>
              </legend>
              <p>{{comment.comentario}}</p>
            </div>
            
            <div class="add-comentario" >
              <form name="formComment" ng-submit="addComment(formComment,quiz)" novalidate>
                <legend>Añadir un comentario</legend>                
            
                <div class="alert {{classFeedback}}" ng-if="msgComment">
                  <p>{{msgComment}}</p>
                  <ul>
                    <li ng-repeat="error in errors">{{error.message}}</li>
                  </ul>
                </div>

                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" ng-model="formComment.nombre"> 
                </div>
                <div class="form-group" ng-class="{'has-error': formComment.site.$invalid && submitted }">
                  <label for="">Página web</label>
                  <input type="text" class="form-control" placeholder="Página web" ng-model="formComment.site">  
                </div>
                <div class="form-group" ng-class="{'has-error': formComment.comentario.$invalid && submitted }">
                  <label for="">Comentario <span>(Obligatorio)</span></label>
                  <textarea ng-model="formComment.comentario" class="form-control" rows="3" maxlength="250" ng-change="controlLength(formComment.comentario)" required ></textarea>
                  <p class="pull-right muted"><span id="commentLength">250</span> caracteres</p>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>

        </li>
      </ul>
    </div>
  </div>
</div>