<navbar></navbar>

<div class="container login">
  <div class="row">
    <div class="col-sm-12">
      <h1>Registro</h1>
    </div>

    <div class="col-sm-12 ">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Nombre<span>(Obligatorio)</span></label>

          <input type="text" name="name" class="form-control" ng-model="user.name" required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            El nombre es obligatorio
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email<span>(Obligatorio)</span></label>

          <input type="email" name="email" class="form-control" ng-model="user.email" required mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            El email informado no es correcto
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            El email es un campo obligatorio
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password<span>(Obligatorio)</span></label>

          <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" required mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            EL password debe tener al menos 3 caracteres.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit"> Registro </button>
          <a class="btn btn-default btn-lg btn-login" href="/login"> Login </a>
        </div>

      </form>
    </div>
  </div>
</div>
